// Fonts
$primary-font: "DM Sans", sans-serif;
$secondary-font: "Poppins", sans-serif;
$tertiary-font: "Inter", sans-serif;


// Colors
$primaryColor1: #3B71FE;
$primaryColor2: #8BC5E5;
$primaryColor2: #92A5EF;
$primaryColor2: #58C27D;

$secondaryColor1: #A4CDE3;
$secondaryColor2: #E4D7CF;
$secondaryColor3: #FFD166;
$secondaryColor4: #FA8F54;

$NeutralsColor1: #141416;
$NeutralsColor2: #23262F;
$NeutralsColor3: #353945;
$NeutralsColor4: #777E90;
$NeutralsColor5: #B1B5C3;
$NeutralsColor6: #E6E8EC;
$NeutralsColor7: #F4F5F6;
$NeutralsColor8: #FCFCFD;


// Typography
$hero-text-font-size-min: 6.4rem;
$hero-text-font-size-max: 9.6rem;
$h1-font-size: 6.4rem;
$h2-font-size: 5.6rem;
$h3-font-size: 4rem;
$h4-font-size: 3.2rem;

$button1-font-size: 1.6rem;
$button2-font-size: 1.4rem;
