.hero {
  @include d_flex();
  flex-direction: column;
  min-height: 80vh;
  background: url("/images/hero-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2.4rem;
  text-align: center;
  position: relative;
  margin: 0 5vw;
  .hero__content {
    padding-bottom: 20vh;
    h1 {
      font-size: clamp(
        #{$hero-text-font-size-min},
        5vw,
        #{$hero-text-font-size-max}
      );
      line-height: 100%;
      color: $NeutralsColor2;
      font-family: $primary-font;
      margin-bottom: 1.2rem;
    }
    p {
      font-size: 2.4rem;
      color: $NeutralsColor2;
      font-family: $secondary-font;
    }
    button {
      margin-top: 2.6vh;
      padding: 1.6rem 2.4rem;
      background-color: $primaryColor1;
      border: none;
      color: $NeutralsColor8;
      border-radius: 9rem;
      font-size: $button1-font-size;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.4s;
      &:hover {
        background-color: #6792ff;
      }
    }
  }
  .hero__car_mega_search {
    background-color: $NeutralsColor8;
    padding: 4rem;
    border-radius: 2.4rem;
    position: absolute;
    bottom: -15rem;
    box-shadow: 0 40px 64px -32px #0f0f0f10;
    .car_mega_search__tab {
      .car_mega_search__tab__header {
        @include d_flex();
        justify-content: flex-start;
        gap: 4vw;
        button {
          color: $NeutralsColor4;
          font-size: $button2-font-size;
          font-family: $primary-font;
          background-color: transparent;
          font-weight: 600;
          border: none;
          cursor: pointer;
          transition: all 0.4s;
          padding-bottom: 3vh;
          &:hover {
            color: $NeutralsColor2;
            border-color: $NeutralsColor2;
          }
        }
        .active {
          color: $NeutralsColor2;
          border-bottom: 1px solid $NeutralsColor2;
          z-index: +1;
        }
        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 28.9%;
          //   bottom: 23.6rem;
          width: 90%;
          height: 1px;
          background-color: $NeutralsColor6;
        }
      }
      .tab_items__filter_btns {
        @include d_flex($gap: 1.6rem, $justifiy: flex-start);
        margin-top: 3.2vh;
        .filter_btn {
          color: $NeutralsColor2;
          background-color: transparent;
          border: 2px solid $NeutralsColor6;
          padding: 1.2rem 1.6rem;
          border-radius: 9rem;
          white-space: nowrap;
          cursor: pointer;
          transition: all 0.4s;
          &:hover {
            color: $NeutralsColor2;
            border-color: $NeutralsColor2;
          }
        }
        .active {
          color: $NeutralsColor8;
          background-color: $NeutralsColor2;
          border: none;
          &:hover {
            color: $NeutralsColor8;
            opacity: 90%;
          }
        }
      }
    }
    .mega_search__btn {
      padding: 1.6rem 1.9rem;
      background-color: $primaryColor1;
      border: none;
      border-radius: 9rem;
      cursor: pointer;
      transition: all 0.4s;
      &:hover {
        background-color: #6792ff;
      }
    }

    .car_mega_search__items__flex_box {
      @include d_flex($justifiy: space-between, $gap: 5vw);
      margin-top: 3.2rem;
      .flex_box__content,
      .flex_box__content_only_mobile {
        @include d_flex($justifiy: flex-start, $gap: 1.2rem);
        text-align: left;
        h2 {
          font-size: 2.4rem;
          color: $NeutralsColor2;
          font-family: $secondary-font;
          font-weight: 500;
          white-space: nowrap;
        }
        p {
          font-size: 1.6rem;
          color: $NeutralsColor4;
          font-family: $secondary-font;
        }
      }
      .flex_box__content_only_mobile {
        display: none;
      }
      @media screen and (max-width: 1024px) {
        & {
          gap: 9vw;
        }
        .flex_box__content:nth-of-type(2) {
          display: none;
        }
      }
      @media screen and (max-width: 683px) {
        .flex_box__content {
          display: none;
        }
        .flex_box__content_only_mobile {
          display: block;
        }
      }
    }
  }
}

@media screen and (max-width: 683px) {
  .tab_items__filter_btns {
    display: none !important;
  }
  .car_mega_search__tab__header::after {
    display: none !important;
  }
  .car_mega_search__tab__header .tab-link {
    padding: 1rem !important;
  }
  .car_mega_search__items__flex_box {
    gap: 0 !important;
  }
  .hero__car_mega_search {
    padding: 3vw !important;
    bottom: 0 !important;
    margin: 1rem;
  }
  .car_mega_search__tab__header {
    overflow-x: auto !important;
  }
  .tab-link:nth-of-type(4) {
    display: none !important;
    font-size: 12px;
  }
}

@media screen and (max-width: 340px) {
  .tab-link:nth-of-type(5) {
    display: none !important;
    font-size: 12px;
  }
  .hero__car_mega_search {
    margin: 0 !important;
  }
}
